<!DOCTYPE html>
<html>
    <head>
        <title> {{ blog.name }}</title>
    </head>
    <body>
        <h1>{{ blog.name }}</h1>
        {{ blog.description|linebreaks }}
        <section>
        <h2>Recent Posts</h2>
        {% if blog.posts.get_visible %}
        <ul>
            {% for post in blog.posts.get_visible %}
            <li> {{ post.title }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Sorry, no posts yet.</p>
        {% endif %}
        </section>
    </body>
</html>
